@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');


h1 {
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
}

#title{
    float: left;
    padding-left: 85px;
}

#tagline {
    float: right;
    padding-right: 85px;
}