<div id="container">
    <img src="assets/images/shells/heaven-blue.png" alt="heaven blue joy cons" height="200">
    <div class="content">
        <h2>Trade Program</h2>
        Are your Joy Cons drifting? Sticky buttons? Water damage? Out of warranty? <br><br>
        We will pay cash for them! Depending on the condition, you could get anywhere from $10 - $30 per joy con.
        <br><br>
        <div class="expand">
            <div id="btnTrade" (click)='change()' class="clickable">More +</div>
            <div id="moreTrade"></div>
        </div>
        <!-- <div class="expand">
          <div class="less clickable"><strong>Less -</strong></div>
          <div class="more clickable"><strong>More +</strong></div><br>
          <div class="expand-content">
              Here is some content!!!
          </div>
      </div> -->
    </div>

</div>