<div id="container">
  <img src="assets/images/shells/sakura-pink.png" alt="light pink joy cons" height="200">
  <div class="content">
      <h2>Accessories</h2>
      We have a ton of cute accessories to spruce up your nintendo switch setup. From 
      carrying cases to thumbgrips and more! <br><br>
      Gallery coming soon!
      <br><br>
      <div class="expand">
        <div id="btnAccessories" (click)='change()' class="clickable">More +</div>
        <div id="moreAccessories"></div>
      </div>
      <!-- <div class="expand">
          <div class="less clickable"><strong>Less -</strong></div>
          <div class="more clickable"><strong>More +</strong></div><br>
          <div class="expand-content">
              <ul>
                  <li>Thumbgrips</li>
                  <li>Carrying Cases</li>
              </ul>
          </div>
      </div> -->
  </div>
</div>