<div id="container">
  <img src="assets/images/shells/nes.png" alt="nes joy cons" height="200">
  <div class="content">
    <h2>Custom Joy Cons</h2>
    All of our custom joy cons are authenic Nintendo Joy Cons with custom shells. We 
    offer customization of both the shells and the buttons. Everything from the 
    nostalgic Atomic Purple to Sakura Pink and custom paint jobs. <br><br>

    Gallery coming soon!
    <br><br>
    <div class="expand">
      <div id="btnCustom" (click)='change()' class="clickable">More +</div>
      <div id="moreCustom"></div>
    </div>
  </div>
</div>
